trigger:
- main

pool:
  name: 'agentPoolPucMinas'

variables:
  location: 'westus3'
  resourceGroupName: 'rg-iac-web-iis'
  vmName: 'vm-iac-web-iis'
  templateFile: 'vm-iis-template.json'
  parametersFile: 'vm-iis-parameters.json'
  indexUrl: 'https://raw.githubusercontent.com/lmlpuc/lmlarm003/refs/heads/main/src/index.html'
  scriptUrl: 'https://raw.githubusercontent.com/lmlpuc/lmlarm003/refs/heads/main/src/scripts/site.ps1'

stages:
# ======================================================
# Stage 1 Provisionamento Infra
# ======================================================
- stage: DeployInfra
  displayName: 'Provisionar Infraestrutura'
  jobs:
    - job: Deploy
      displayName: 'Criar RG e recursos ARM'
      steps:
        - task: AzureCLI@2
          displayName: 'Criar Resource Group'
          inputs:
            azureSubscription: 'ar01com'
            scriptType: 'bash'
            scriptLocation: 'inlineScript'
            inlineScript: |
              az group create --name rg-manual-web00001 --location westus3

        - task: AzureResourceManagerTemplateDeployment@3
          displayName: 'Deploy ARM Template'
          inputs:
            deploymentScope: 'Resource Group'
            azureResourceManagerConnection: 'ar01com'
            action: 'Create Or Update Resource Group'
            resourceGroupName: '$(resourceGroupName)'
            location: '$(location)'
            templateLocation: 'Linked artifact'
            csmFile: 'arm-templates/vm-iis-template.json'
            csmParametersFile: 'arm-templates/vm-iis-parameters.json'
            deploymentMode: 'Incremental'
            deploymentName: 'vm-iis-deployment'

# ======================================================
# Stage 2 Execução Custom Script
# ======================================================
- stage: ConfigureWebsite
  displayName: 'Publicar site no IIS'
  dependsOn: DeployInfra
  jobs:
    - job: PublishHTML
      displayName: 'Executar CustomScriptExtension para copiar index.html'
      steps:
        - task: AzureCLI@2
          displayName: 'Executar CustomScriptExtension'
          inputs:
            azureSubscription: 'ar01com'
            scriptType: 'bash'
            scriptLocation: 'inlineScript'
            inlineScript: |
              vmName="$(vmName)"
              resourceGroup="$(resourceGroupName)"
              scriptUrl="$(scriptUrl)"

              # Cria JSON válido para a extensão
              cat <<EOF > customScriptSettings.json
              {
                "fileUris": [
                "$scriptUrl"
                ],
                  "commandToExecute": "powershell -ExecutionPolicy Unrestricted -File site.ps1"
              }
              EOF

              echo "Arquivo JSON gerado:"
              cat customScriptSettings.json

              # Executa a extensão na VM
              az vm extension set \
                --resource-group "$resourceGroup" \
                --vm-name "$vmName" \
                --name CustomScriptExtension \
                --publisher Microsoft.Compute \
                --settings customScriptSettings.json
# FIM
